[submodule "lib/http-server"]
	path = lib/http-server
	url = https://github.com/WyldeCat/http-server
[submodule "lib/trie"]
	path = lib/trie
	url = https://github.com/WyldeCat/trie
[submodule "lib/shared-stl-allocator"]
	path = lib/shared-stl-allocator
	url = https://github.com/WyldeCat/shared-stl-allocator.git
